@import "~bootstrap/dist/css/bootstrap.css";

.wrapper{
  /* margin-top: 5em; */
  text-align: center;
}
hr{
  margin-bottom: 2em;
}

body{
/* background-image: url(https://i.picsum.photos/id/1050/1200/800.jpg?hmac=81vPrhDD-JXcEUVPraMKdr_w_zcLUGn-sMz-G_dKU7s); */
background-size: cover;
background-repeat: no-repeat;
position:absolute;
}




.text-overlay {
  position: relative;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  backdrop-filter: blur(14px) brightness(50%);
}
